$bg-dark: #37373e;
$bg-gray: #f8fafc;
$main-blue: #43aee8;
$main-green: #57d19c;
$main-red: #fa3a4f;
$main-orange: #fd8f67;
$main-yellow: #feca6a;
$main-pink: #e15aa5;
$main-text: #5a707d;
$secondary-text: #56516e;
$border-gray: #fafafa;

$viking-blue: #51c5e1;
$selective-yellow: #ffb707;
$mulberry: #c74f96;
$butterfly-brush: #63519b;
$mantis: #8fc350;
$celestial-blue: #4798cc;
$pacific-blue: #1aaebc;
$sun: #f4933a;
$half-baked-blue: #7fc3d2;
$deluge: #8071af;
$allports: #247083;
$fountain-blue: #68bab6;
$usb-blue: #1fb9ea;
$polaris-orange: #ec5d1d;

$main-font: "Roboto", sans-serif;
$code-font: "Roboto Mono", monospace;
$title-font: "Bungee", sans-serif;

$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;
