$bg-dark: #37373E;
$bg-gray: #F8FAFC;
$main-blue: #43AEE8;
$main-green: #57D19C;
$main-red: #FA3A4F;
$main-orange: #FD8F67;
$main-yellow: #FECA6A;
$main-pink: #E15AA5;
$main-text: #5A707D;
$secondary-text: #56516E;

$viking-blue: #51C5E1;
$selective-yellow: #FFB707;
$mulberry: #C74F96;
$butterfly-brush: #63519B;
$mantis: #8FC350;
$celestial-blue: #4798CC;
$pacific-blue: #1AAEBC;
$sun: #F4933A;
$half-baked-blue: #7FC3D2;
$deluge: #8071AF;
$allports: #247083;
$fountain-blue: #68BAB6;
$usb-blue: #1FB9EA;
$polaris-orange: #EC5D1D;

$main-font: 'Roboto', sans-serif;
$code-font: 'Roboto Mono', monospace;
$title-font: 'Bungee', cursive;

$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;
